.memory-card {
  position: relative;
  height: 120px;
  width: 120px;
  margin: 0.2rem;
  flex-shrink: 0;

  .front,
  .back {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    transform: rotateY(90deg);
    transition: 500ms;

    &.face-up {
      transform: rotateY(0);
      transition-delay: 500ms;
    }

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }
}
