.memory-card {
  position: relative;
  height: 120px;
  width: 120px;
  margin: 0.2rem;
  flex-shrink: 0;

  .front,
  .back {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: transform 400ms;

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }

  .front {
    transform: rotateY(90deg);
    transition-delay: 0ms;
  }

  .back {
    transform: rotateY(0);
    transition-delay: 400ms;
  }

  &.face-up {
    .front {
      transform: rotateY(0);
      transition-delay: 400ms;
    }
    .back {
      transform: rotateY(90deg);
      transition-delay: 0ms;
    }
  }
}
